*{
    box-sizing: border-box;

}
body{
   width: 90%;
   margin: auto; 
   display: grid;
   grid-template-columns: 80% 20%;
   grid-template-rows: 10% 10% 70% 10%;
   grid-template-areas: 
   ".    header"
   "main aside"
   "main aside"
   "main ."
   "footer footer";
}